.bgcolor{
  background: linear-gradient(to right,#fff,#7ccdc5);
}
.position{
    padding-left: 100px;
}


.header_navbar{
    display:flex;
    flex-direction: row;
    margin-top: -90px;
    margin-left: 800px;
    padding-left: -500px;
    padding-right: -630px;
    position: fixed;
   
    
}
.navbar{
  
}
.navbar-item {
      font-size: 16px;
    color: #000;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 10px;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }
  .navbar-item:hover{
    color:#029b8c;
    transition: all 0.3s ease-in-out;
    }
  .logo{
    width: 15%;
    height: 15%;
    margin-left:-100px;
    padding-right: 1400px;
  }
.btn-primary {
    font-size: 16px;
    color: #000;
    font-weight: 600;
     background-color: #8fdbd4 !important;
    border-color:  #8fdbd4 !important;
}
.btn-primary:hover {
   color:#029b8c;
    transition: all 0.3s ease-in-out;
     background-color: #8fdbd4 !important;
    border-color:  #8fdbd4 !important;
}
.show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #8fdbd4 !important;
    border-color:  #8fdbd4 !important;
}

.btn-primary:active, .btn-primary:visited {
    background-color: #8fdbd4 !important;
}