.component{
    color:#21B6A8;
    justify-content: center;
    margin-top:20px;
    border-bottom: 10px;
    padding-bottom: 50px;
}

.product_view{
    display: flex;
    position: fixed;

}
.product{
    transition: transform .6s;   
    width: 300px;
    margin-bottom: 50px;
}
.product:hover{
    transform: scale(1.5);
}

#icon{

    width: 200px;
    padding-bottom: 20px;
} 
.content{
    /* padding-left: 150px; */
    border: 2px solid #21B6A8;
  padding: 30px;
  margin: 50px;
  border-radius: 50px;
}
.button{

        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: rgb(252, 249, 249);
        background-color: #21B6A8;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        
}
.button:hover{
    transform: scale(1.2);
}